body {
    height: 150vh;
    margin: 0;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;    
    transition: .5s;
}

nav.on {
    height: 300px;
}

.arrow {
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    transition: .5s;
}

.arrow.on {
    bottom: 340px;
}

.arrow.on .fas {
    transform: rotate(180deg);
}

i {
    font-size: 40px;
    transition: .5s;
}